/* FORMS LOGIN */

.input {
  background: #FFF;
  border-radius: .25rem;
  border: 1px solid #C7C7C7;
  color: black;
  font-size: 15px;
  line-height: 1.6;
  margin: 10px 10px 10px 10px;
  padding: .5rem 1rem;
  width: 210px;
}

/* FORMS */

.input2 {
  background: #FFF;
  border-radius: .25rem;
  border: 1px solid #C7C7C7;
  color: black;
  font-size: 15px;
  line-height: 1.6;
  margin: 10px 10px 10px 10px;
  padding: .5rem 1rem;
  width: 310px;
}

@media (max-width:500px) {
  .input2 {
    width: 210px;
  }
}

@media (min-width:1025px) {
  .input {
    margin-right: 40%;
    margin-left: 25%;
    width: 50%;
    justify-content: center;
  }
}
