body {
  background-color: #E0DEDE;
  font-family: Verdana, sans-serif, arial, Helvetica;
  margin: 0;
}

ol, ul {
  list-style: none;
}

.header {
  overflow: hidden;
  background-color: #2C3E50;
  /* background-color: #F7F7F7; */
  padding: 0px 5px;
  text-align: center;
  align-items: center;
}

.logo-img{
  width: 150px;
  height: 120px;
}

/* Style the header links */
.header a {
  float: left;
  text-align: center;
  padding: 0;
  margin-top: 10px;
  margin-right: 25px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.button {
  display: inline-block;
  padding: .5rem 1rem;
  background: transparent;
  color: #FFF;
  align-items: center;
  margin-right: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  text-decoration: none;
  line-height: inherit;
  border-radius: .25rem;
  transition: -webkit-transform .05s;
  transition: transform .05s;
  transition: transform .05s,-webkit-transform .05s;
  border: none;
}

.button:hover {
  background-color: #598FB2;
  color: white;
}

.button:active {
  background-color: #51748A;
  transform: translateY(4px);
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  justify-content: center;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #DDD;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-center {
  font-family: 'Courgette', cursive;
}

.header-center h1{
  color: white;
  /* color: #1777B4; */
  font-size: 3em;
  height: 25px;
  text-align: left;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #FEFEFE;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5CB85C;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5CB85C;
  color: white;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}

/* Check Box CSS */
/* The container */
aside {
  border-radius: 4px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  width: 250px;
  height: 500px;
  margin: 10px;
  margin-right: 100px;
  float: left;
}

aside h2 {
  text-align: center;
  background-color: #2C3E50;
  color: #FFF;
  padding: 10px;
}

aside ul li,
aside ul li a {
  display:  block;
}

aside ul li a:link,
aside ul li a:visited {
  text-decoration:  none;
  color: #000;
  font-size: 1.1em;
  padding: 10px;
  transition:  all 0.5s;
}

aside ul li a:hover,
aside ul li a:active {
  text-indent:  20px;
  background-color: #CFCFCF;
}
.check-box {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  margin-left: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #EEE;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
  background-color: #CCC;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* SLIDER CSS */
* {
  box-sizing: border-box
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slider-image {
  width: 100%;
  height: 350px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #F2F2F2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #F2F2F2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #BBB;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  margin-bottom: 10;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px
  }
}

footer {
    width: 100%;
    background: #2C3E50;
    color: white;
    overflow: auto;
}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.colum1{
    max-width: 400px;
}

.colum1 h1{
    font-size: 22px;
}

.colum1 p{
    font-size: 15px;
    color: #C7C7C7;
    margin-top: 20px;
    text-align: justify;
}

.colum2{
    max-width: 400px;

}

.colum2 h1{
    font-size: 22px;
}

.row{
    margin-top: 20px;
    display: flex;
}

.row img{
    width: 36px;
    height: 36px;
}

.row label{
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

.colum3{
    max-width: 400px;
}

.colum3 h1{
    font-size: 22px;
}

.row2{
    margin-top: 20px;
    display: flex;
}

.row2 img{
    width: 36px;
    height: 36px;
}

.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer{
    width: 100%;
    background: #101010;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.copyright{
    color: #C7C7C7;
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a{
    text-decoration: none;
    color: #C7C7C7;
}

.footer-list a {
  color: #C7C7C7;
  font-size: 18px;
  text-decoration: none;
  text-indent:  20px;
  padding: 5px;
}

@media screen and (max-width: 1100px){

    .container-body{
        flex-wrap: wrap;
    }

    .colum1{
        max-width: 100%;
    }

    .colum2,
    .colum3{
        margin-top: 40px;
    }
}

/* footer {
   background: #2C3E50;
   width: 100%;
   overflow: auto;
}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.foot-left, .foot-center {
  float: left;
  width: 20%;
  padding: 20px;
}

.foot-center {
  margin-left: 380px;
}

.foot-right {
  float: right;
  width: 20%;
  margin-right: 100px;
}

.foot-right h2, .foot-right p {
  color: white;
  text-align: center;
} */

/* .footer-list li {
  padding-bottom: 20px;
  text-align: center;
}

.footer-list a {
  color: white;
  font-size: 18px;
  text-decoration: none;
} */

.fa {
  background-color: transparent;
  border: solid 1px #C9C9C9;
  border-radius: 4px;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 30px;
  margin: 5px 2px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
}

/* Add a hover effect if you want */
.fa:hover {
  border-color: #EBEBE7;
  color: #EBEBE7;
  opacity: 0.7;
}

/* Set a specific color for each brand */
/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-github {
  background: black;
  color: white;
  /* margin-right: 120px; */
}

.fa-envelope {
  background: #D1B559;
  color: white;
}

.fa-instagram {
  background: #ED7474;
  color: white;
}

.fa-google-plus {
  background-color: #A01010;
  color: white;
}

fieldset {
  margin: 50px 115px 10px 50px;
  border-radius: 10px;
  background-color: white;
  border-color: transparent;
}
