/* BANNER */

#bannerpro {
  margin-top: 50px;
  position: relative;
}

#bannerpro img {
  width: 100%;
  height: 100%;
}

#bannerpro .contenedor{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #FFF;
}

#bannerpro h2 {
  font-size: 28px;
}

@media (min-width: 480px) {
  #bannerpro h2 {
    font-size: 40px;
  }
}

@media (min-width: 768px) {
  #bannerpro {
    height: 200px;
    overflow: hidden;
  }

  #bannerpro img {
    height: auto;
    margin-top: -100px;
  }
}

@media (min-width: 1024px) {
  #bannerpro img {
    margin-top: -300px;
  }
}
