/* CREATE LOC */

.dat {
  margin-top: 10px;
  display: inline-table;
  margin-left: 15%;
  MAR
  width: 30%;
  margin-bottom: 10px;
}

.dat .input3{
  width: 100%;
}

.dat label {
  font-size: 18px;
  text-align: justify;
  line-height: 25px;
  display: block;
}

.ti h3 {
  color: #0a7bd7;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.adj {
  display: inline-table;
  width: 20%;
  margin-top: 10px;
}

.adj h3 {
  font-size: 30px;
  margin-top: 10px;

}

/* PHOTO INF */

#masinf {
  color: #FFF;
  text-align: center;
  padding: 20px;
}

#masinf .contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.masinf {
  display: inline-block;
  width: 50%;
  height: 400px;
  margin-bottom: 5%;
}

.masinf h3 {
  color: #EC801C;
  font-size: 30px;
  margin-bottom: 10px;
}

@media (max-width: 1024px) {
  .dat {
    margin-left: 10%;
    display: block;
    width: 75%;
  }

  .dat .input2 {
    width: 100%;
  }

  .dat label {
    text-align: justify;
    margin-left: 40%;
  }
}

@media (max-width: 622px) {
  .dat label {
    text-align: center;
    margin-left: 0%;
  }
}

@media (max-width:855px) {
  .adj {
    display: block;
    width: 100%;
  }

  .adj h3 {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .masinf {
    width: 100%;
    height: 300px;
    margin-bottom: 10%;
  }

  .masinf h3 {
    color: #EC801C;
    font-size: 35px;
    margin-bottom: 10px;
  }
}
