/* LOCATION */

.datos-location {
  margin-top: 50px;
  display:  inline-table;
  margin-left: 13%;
  width: 30%;
}

.datos-location .input3{
  width: 90%;
}

.datos-location label {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  color: #0D4158;
}

.adjust {
  background-color: #ff7809;
  display: inline-block;
  width: 25%;
}

.adjust h3 {
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.adjust li {
  list-style: none;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* MAP */

#map {
  color: #FFF;
  text-align: center;
  padding: 20px;
}

#map .contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mapa {
  display: inline-block;
  width: 50%;
  height: 400px;
  margin-bottom: 5%;
}

.mapa h3 {
  color: #EC801C;
  font-size: 35px;
  margin-bottom: 10px;
}
