/* MSG */

#msg {
  background: #333;
  color: #FFF;
  text-align: center;
  padding: 20px;
}

#msg .contmsg {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.info-msg {
  margin:  20px;
}

/* CHAT */

.chatbox {
  width: 500px;
  height: 600px;
  background: #FFF;
  padding: 25px;
  margin: 20px auto;
  box-shadow: 0 3px #CCC;
  font-family: tahoma, arial, cursive;
}

.chatlogs {
  padding: 10px;
  width: 100%;
  height: 450px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.chatlogs::-webkit-scrollbar {
  width: 10px;
}

.chatlogs::-webkit-scrollbar-thumb {
  background:  rgba(0, 0, 0, 0.5);
}

.chat {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin-bottom: 10px;
}

.chat .user-photo {
  width: 60px;
  height: 60px;
  background:  #CCC;
  border-radius: 50%;
  overflow: hidden;
}

.chat .user-photo img {
  width: 100%;
}

.chat .chat-message {
  width: 80%;
  padding: 15px;
  margin: 5px 10px 0;
  border-radius: 10px;
  color: #FFF;
  font-size: 18px;
}

.friend .chat-message {
  background: #1ADDA4;
}

.self .chat-message {
  background: #1DDCED;
  order: -1;
}

.chat-form {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
}

.chat-form textarea {
  background: #FBFBFB;
  width: 75%;
  height: 50px;
  border: 2px solid #EEE;
  border-radius: 3px;
  resize: none;
  padding: 10px;
  font-size: 18px;
  color: #333;
}

.chat-form textarea:focus {
  background: #FFF;
}

.chat-form textarea::-webkit-scrollbar {
  width: 10px;
}

.chat-form textarea::-webkit-scrollbar-thumb {
  background:  rgba(0, 0, 0, 0.5);
}

.chat-form button {
  background: #1DDCED;
  padding: 5px 15px;
  font-size: 25px;
  color: #FFF;
  border: none;
  margin: 0 10px;
  border-radius: 3px;
  box-shadow: 0 3px 0 #0EB2C1;
  cursor: pointer;
  -webkit-transition: background .2s ease;
  -moz-transition: background .2s ease;
  -o-transition: background .2s ease;
}

.chat-form button:hover {
  background: #13C8D9;
}

/* TABS */

.info-msg .tab-photo {
  width: 60px;
  height: 60px;
  background:  #CCC;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  margin-left: 10px;
}

.info-msg .tab-photo img {
  width: 100%;
}

@media (max-width: 550px) {
  .chatbox {
    width: 260px;
    height: 650px;
  }

  .chatlogs {
    width: 100%;
    height: 450px;
  }

  .chat .user-photo {
    width: 30px;
    height: 30px;
  }

  .chat .user-photo img {
    width: 100%;
  }

  .chat .chat-message {
    width: 68%;
  }

  .chat-form {
    display: block;
  }

  .chat-form textarea {
    width: 80%;
    height: 50px;
  }
}
