/* SLIDE */

#sliderprincipal .slide1 {
  background-image: url('../img/port/port1.png');
}

#sliderprincipal .slide2 {
  background-image: url('../img/port/port2.jpg');
}

#sliderprincipal .slide3 {
  background-image: url('../img/port/port3.jpg');
}

.slider {
  width: 50%;
}

.slider .wrap,
.slide-content {
  height: 400px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.wrap {
  position: absolute;
}

.slide {

  background-position: left;
  background-repeat: no-repeat;
  background-size: 100% 300px;
  border: 5px solid #EEE;
}

.slide-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.arrow {
  color: red;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.arrow-left {
  margin-top: 410px;
  margin-left: 440px;
  position: absolute;
}

.arrow-right {
  margin-top: 410px;
  margin-left: 500px;
  position: absolute;
}

.filtros {
  font-size: 26px;
}

/* PAGE */

.page {
  margin-top: 20px;
}

.pagination {
  display: inline-block;
}

.pagination a {
  border: 1px solid #DDD;
  color: black;
  float: left;
  margin: 0 4px;
  padding: 16px 32px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: #2C3E50;
  border: 1px solid #2C3E50;
  color: white;
}

.filtro-box {
  margin-left: 60px;
}

/* COMBO-BOX */

.combo-box {
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
}

.ordenar {
  background-color: white;
  margin-left: 25px;
  width: 200px;
}

.square {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* CARDS */

.lugar img {
  width: 150px;
}

.lugar p {
  text-align: center;
  line-height: 20pt;
}

.lugar h3 {
  color: #EC801C;
}

.cards {
  margin: 20px 10px 10px 20px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

@media (min-width:1024px) {
  .hide {
    display: block;
  }
}

@media (max-width: 768px) {
  .hide {
    display: none;
  }
}

@media (min-width: 200px) {
  .pagination {
    margin-left: 0;
    width: 100%;
  }

  .pagination a {
    font-size: 10px;
    margin-left: 0;
    padding-left: 10px;
  }
}

@media (max-width: 1024px) {
  .slide {
    width: 100%
  }
}

@media (max-width: 1024px) {
  .arrow-left {
    margin-left: 0px;
  }

  .arrow-right {
    margin-left: 60px;
  }
}
