/* ANFITRIÓN */

.ri {
  display: flex;
  justify-content: flex-end;
  width: 85%;
}

.cont {
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 70%;
}

.add {
  margin-top: 10px;
  display: inline-block;
  width: 25%;
  margin-bottom: 10px;
}

.add img {
  min-width: 75%;
  min-height: 70%;
  align-items: center;
  border-radius: 10px;
  max-width: 90%;
  max-height: 50%;
}

.addd {
  margin-top: 10px;
  display: inline-block;
  width: 50%;
}

.addd p {
  font-size: 18px;
  text-align: justify;
  line-height: 20pt;
}

/* LISTA ANFITRIÓN */

.lista ul {
  margin-left: 20px;
  line-height: 20pt;
}

.lista li {
  margin-left: 40px;
  text-align: justify;
  font-size: 18px;
  line-height: 20pt;
}

.conta {
  padding-top: 5px;
  background-color: blue;
  width: 100%;
}

hr {
  border-color: red;
  margin-bottom: 10px;
}

/* BUTTON ANFITRIÓN */

.button-loc {
  align-items: center;
  background-color: #0BA48C;
  border-radius: .25rem;
  border: none;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  /* line-height: inherit; */
  margin-bottom: 1rem;
  /* margin-right: 2rem; */
  padding: .2rem 1rem;
  text-decoration: none;
  transition: -webkit-transform .05s;
  transition: transform .05s,-webkit-transform .05s;
  transition: transform .05s;
  width: 15%;
}

.button-loc:hover {
  background-color: #598FB2;
  color: white;
}

.button-loc:active {
  background-color: #51748A;
  transform: translateY(4px);
}
